[user]
	email = clake@lackhead.org
	name = Chad Lake

[init]
	defaultBranch = main

[core]
        editor = nvim
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
        line-numbers = true
 	features = mellow-barbet

[include] 
   	path = ~/.delta.themes

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default
	
[alias]
	st = status -s
        conf = config --global --edit
        pr = pull --rebase --autostash
        stsh = stash --keep-index
        staash = stash --include-untracked
        staaash = stash --all 
        which = !git branch | grep -i 
        amend = commit --amend --no-edit
        edit = commit --amend --only
